<!-- <div class="bg-dark navigation-wrap start-header start-style">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <nav class="navbar navbar-dark navbar-expand-md">
                  <a class="navbar-brand"><img src="https://getbootstrap.com//docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-top">House Of Dare</a> 
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse justify-content-end navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav ml-auto py-4 py-md-0">
                          <li class="m-1 ml-0 ml-md-4 nav-item pl-4 pl-md-0 text-center">
                              <a class="home-navbar nav-link text-light" type="button" (click)="goHome()" >Home</a>
                          </li>
                          <li class="m-1 ml-0 ml-md-4 nav-item pl-4 pl-md-0 text-center">
                              <button type="button" class="btn btn-primary crear-reto text-light" (click)="goCreateRetoComunidad()" >Crear retos</button>
                          </li>
                      </ul>
                  </div>
              </nav>
          </div>
      </div>
  </div>
</div> -->
<body class="text-secondary" style="background-image: radial-gradient(circle at 68.3% 118.3%, #fd5541 0, #f23c3c 50%, #e71638 100%);">
    <router-outlet></router-outlet>
    <div class="container pb-4 pt-4">
        <div class="align-items-center row">
            <div class="col">
                <hr class="bg-light border-danger mb-0 mt-0"/> 
            </div>
            <div class="col-auto">
                <span class="bg-danger d-block p-1 rounded-circle"><svg viewBox="0 0 24 24" fill="none" width="24" height="24" class="d-block text-white">
                        <path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z" fill="currentColor"/>
                    </svg></span> 
            </div>
            <div class="col">
                <hr class="bg-light border-danger mb-0 mt-0"/> 
            </div>
        </div>
    </div>
    <section class="bg-transparent pt-3 pb-3 text-center">
        <div class="container">
            <div class="mb-4 mt-2 row">
                <div class="bg-transparent col-lg-8 col-xl-6 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">¡Crea tus propios retos!</h5>
                            <p class="card-text">Ayudanos y has crecer el sitio creando tus propios retos</p>
                            <button class="btn btn-primary" target="_pg_blank" (click)="goCreateRetoComunidad()">Crear</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>